@model Category
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminF/Views/Shared/_AdminLayout.cshtml";
}

<h1>@Model.Name</h1>
<p>@Model.Description</p>
 <a class="btn btn-dark" asp-controller="Category" asp-action="Delete">Back</a>

